.verifie_main_div{
    min-height: 700px;
    background-color: #efefef4a;
}

.verifie_img_div{
    
}

.verifie_img{
    height: 250px;
}

.verifie_heading{
    color: crimson;
}

.verife_msg_div{
    padding: 30px;
}