.home_main{
    background-color: #ededed;
    min-height: 500px;
}

.banner{
    height: 200px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.589)), url('https://i.ibb.co/41h9x9y/DIU-Dhaka-International-University-OUT-banner.jpg');
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.589)), url('https://i.ibb.co/YT5C9PK/New-Project-3.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.profile_left{
    min-height: 200px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

.profile_right{
    min-height: 200px;
    background-color: white;
}

.info_holder{
    text-align: left;
    padding: 10px;
}

.account_details_heading{
    color: crimson;
    border-bottom: 1px solid rgb(153, 153, 153);
}

td{
    min-width: 100px;
    border: 1px solid black;
}

.home_gallery{
    background-color: white;
    min-height: 300px;
}

.custom_nav{
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.for_shadow {
    margin: 5px;
}

.for_shadow:hover{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav_style{
    text-decoration: none;
    color: black;
}

.nav_style:hover{
    text-decoration: none;
    color: black;
}


.gallery_holder{

}

.climber_style{
    width: 200px;
}

.footer_img{
    width: 100%;
}

.icon_class{
    margin: 0;
    padding: 0;
}

.icon_holder{
    /* color: cornflowerblue;
    font-size: 40px;
    background-color: white;
    margin: 0;
    padding: 0;
    height: auto;
    border-radius: 30px; */


    
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-size: 38px;


    position: fixed;
    z-index: 5;
    bottom: 140px;
    right: 30px;
}

.icon_style {
    color: cornflowerblue;
    font-size: 40px;
    position: fixed;
    z-index: 5;
    bottom: 140px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.349);
  }

.api_change_icon_holder{
    color: white;
    font-size: 30px;
    position: fixed;
    z-index: 5;
    bottom: 70px;
    right: 20px;
    margin: 0;
    background-color: rgb(59, 156, 96);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.349); 
}

.form_fotter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_button_holder{
    display: flex;
    width: 50%;
    justify-content: space-between;
}


.heart_loading_img_holder{
    padding: 20px;
}


.masonry-collage-container2 {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
  }

.show_error_section{
    width: 100%;
    position: fixed;
    z-index: 5;
    bottom: 0;
    color: #D8000C;
    border: 1px solid;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color:  #FFBABA;
    display: none;
}

@media screen and (max-width: 900px) {
    .banner{
        background-image: url("https://i.ibb.co/g7CDgzk/FB-IMG-1592065047469.jpg");
    }
}

@media screen and (max-width: 500px) {
    .form_button_holder{
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        height: 80px;
    }
}