.single_photo{
    width: 100%;
    margin-top: 10px;
}

.photo_name{ 
    text-align: left;
    color: #4b4b4b;
    font-size: 16px;
    overflow: hidden; /* Hide the overflow content */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
}


.delete_icon_style {
    color: white;
    font-size: 16px;
    background-color: crimson;
    border-radius: 50%;
    padding: 10px;
  }

.photo_delete_div_style{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 440px) {
    .single_photo{
        width: 95%;
    }
}